.page
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  background: #111 url($background-image-url) no-repeat center / cover
  color: #fff
  font-family: 'Poiret One', Arial, Helvetica, sans-serif

  @media only screen and (max-width: 1024px)
    font-size: 12px

  @media only screen and (min-width: 1025px) and (max-width: 1440px)
    font-size: 14px

  &:before
    content: ''
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: rgba(#282828, .7)