.profile
  position: relative
  text-align: center

  &__title
  &__subtitle
    line-height: 1
    text-transform: uppercase

  &__title
    margin-bottom: .1em
    font-size: 6.5em
    font-weight: 100

  &__subtitle
    position: relative
    font-size: 1.3em
    font-weight: 300
    letter-spacing: .4em
    white-space: nowrap

    &:after
      content: ''
      position: absolute
      left: 15%
      bottom: -.75em
      width: 70%
      height: 1px
      background: #fff

  &__description
    margin-top: 2em
    font-size: 1.1em
    letter-spacing: 1px