.Tooltip
  position relative

  &:before
    content attr(data-title)
    position absolute
    bottom -10px
    left 50%
    transform translate(-50%, 100%)
    padding .7em
    background-color rgba(#282828, .8)
    color rgba(#eee, .9)
    font-size .8em
    white-space nowrap
    letter-spacing 0
    opacity 0
    visibility hidden
    transition all .25s ease-in-out

  &:hover
    &:before
      opacity 1
      visibility visible