.u-inputGroup
  position relative
  margin-bottom 1.5em

  // Clearfix
  &:after
    content ''
    display table
    clear both

.u-inputInline
  float left
  width 50%

  &:first-child
    padding-right .25em

  &:last-child
    padding-left .25em