html
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

body
  margin 0

main
  display block

h1, h2, p, ul
  margin-top 0
  margin-bottom 0

ul
  padding-left 0

li
  list-style none

a
  background-color transparent
  text-decoration none

  &:active
  &:hover
    outline 0