html
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%

body
  margin: 0

main
  display: block

h1, h2, p, ul
  margin-top: 0
  margin-bottom: 0

ul
  list-style: none
  padding-left: 0

a
  background-color: transparent
  text-decoration: none

  &:active
  &:hover
    outline: 0