doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Aero Motion Design | Web development
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

    //- Favicon
    link(rel="icon", type="image/png", href="dist/favicon.png")

    //- Metas
    meta(name="author", content="AeroXMotion")
    meta(name="description", content="Motion design; the elegance")
    meta(name="keywords", content="Motion, Designer, Web, Development")

    //- Preloader
    style
      :clean-css
        .Preloader {
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: #111;
          z-index: 10000;
          -webkit-transition: all .5s linear;
                  transition: all .5s linear; }

        .Preloader.is-hide {
          opacity: 0;
          visibility: hidden; }

        .Preloader-loading {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 50px;
          height: 50px;
          margin-left: -25px;
          margin-top: -25px; }

        .Preloader-loadingCircle {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: 50%;
          border: 2px solid #fff;
          -webkit-animation: scale 1.5s ease-out infinite both;
                  animation: scale 1.5s ease-out infinite both; }

        .Preloader-loadingCircle:nth-child(2) {
          -webkit-animation-delay: -0.75s;
                  animation-delay: -0.75s; }

        @keyframes scale {
          0% {
            -webkit-transform: scale(0);
                    transform: scale(0);
            opacity: 0; }

          5% { opacity: 1; }

          100% {
            -webkit-transform: scale(1);
                    transform: scale(1);
            opacity: 0; }
        }

        @-webkit-keyframes scale {
          0% {
            -webkit-transform: scale(0);
                    transform: scale(0);
            opacity: 0; }

          5% { opacity: 1; }

          100% {
            -webkit-transform: scale(1);
                    transform: scale(1);
            opacity: 0; }
        }

    //- Stylesheets
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Poiret+One")
    link(rel="stylesheet", href="dist/css/styles.min.css")
  body.Page
    .Preloader#preloader
      .Preloader-loading
        .Preloader-loadingCircle
        .Preloader-loadingCircle

    main.Profile
      h1.Profile-title Aero
      h2.Profile-subtitle Motion Design
      p.Profile-description Web development
      ul.SocialList
        - var socialLinks = {}
        - socialLinks.facebook = { title: 'Like me on Facebook', href: 'https://www.facebook.com/aeromotiondesign' }
        - socialLinks.twitter = { title: 'Follow me on Twitter', href: 'https://twitter.com/aeromdesign' }
        - socialLinks.github = { title: 'See my projects on Github', href: 'https://github.com/aeroxmotion' }
        - socialLinks.email = { title: 'Contact me (business)', href: 'mailto:aeromotiondesign@gmail.com' }
        each val, key in socialLinks
          li.SocialList-item
            a.SocialList-itemLink(data-title=val.title, href=val.href, target="_blank")
              i(class="icon icon-" + key)

    script
      :uglify-js
        //- Hide preloader
        var preloader = document.querySelector('#preloader');
        window.addEventListener('load', function() {
          preloader.classList.add('is-hide');

          preloader.addEventListener('transitionend', function() {
            this.style.display = 'none';
          });
        });

        //- Analytics
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q || []).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-76671053-1', 'auto');
        ga('send', 'pageview');